html, body{
    height:100%;
    width:100%;
    background-image:url('simon/img/space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-250px; ;
    margin:0;
    padding:0;
}

.container{
    height:900px;
    width:900px;
    margin:100px auto;
    position:relative;
}

.spacing-diamond{
    z-index:4;
    height:800px;
    width:800px;
    border:1px solid silver;
    box-sizing:border-box;
    padding:0;
    margin:auto;
    position:relative;
    transform: rotate(45deg);
    top:100px;
}


.center-diamond{
    position:absolute;
    top:248px;
    left:195px;
    height:550px;
    width:550px;
    background-color:silver;
    border:20px outset gray;
    transform: rotate(45deg);
    box-sizing: border-box;
    box-shadow: 0 0 20px;
}

.pad{
    position:absolute;
    height:250px;
    width:250px;
    transform:rotate(45deg);
    border:10px outset silver;
    z-index:3;
    box-sizing:border-box;
    box-shadow:0 0 10px;
}

.red{
    background-color:#AA3F3C;
    top:-25px;
    left:350px;
}

.red-lit{
    background-color:#F13319;
    top:-25px;
    left:350px;
    box-shadow:0 0 10px #F13319;
}

.blue{
    background-color:#3AA8CB;
    top:400px;
    left:771px;

}
.blue-lit{
    background-color:#A4EBFF;
    top:400px;
    left:771px;
    box-shadow: 0 0 10px #A4EBFF;

}

.yellow{
    background-color:#E0D715;
    top:825px;
    left:350px;
}

.yellow-lit{
    background-color:#FDFC0C;
    top:825px;
    left:350px;
    box-shadow:0 0 10px #FDFC0C;
}

.green{
    background-color:#1BB20D;
    top:400px;
    left:-72px;
}

.green-lit{
    background-color:#35FE36;
    top:400px;
    left:-72px;
    box-shadow:0 0 10px #35FE36;
}

.controls{
   transform:rotate(-45deg);
   top:100px;
   left:112px;
   width:60%;
   position:relative;
}

.controls li{
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-align:left;
    margin-bottom:10px;
    
}

.buttons{
    position:relative;
    top:50px;
    left:-32px;
}


.buttons button{
    height:50px;
    width:90px;
    font-size:20px;
    font-weight:bold;
    margin-left:50px;
    border-radius:5px;
}

.radio-btn{
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:black;
    display:inline-block;
    margin-right:10px;
}

#start{
    background-color:green;
    color:white;
}

#reset{
    background-color:orange;
    color:white;
}