html, body{
    margin:0;
    padding:0;
    background:black;
}

.container{
    height:600px;
    width:600px;
    margin:50px auto;
    position:relative;
}

.spacing-diamond{
    z-index:4;
    height:800px;
    width:800px;
    border:1px solid silver;
    box-sizing:border-box;
    padding:0;
    margin:auto;
    position:relative;
    transform: rotate(45deg);
    top:100px;
}


.center-diamond{
    position:absolute;
    top:188px;
    left:168px;
    height:250px;
    width:250px;
    background-color:silver;
    border:10px outset gray;
    transform: rotate(45deg);
    box-sizing: border-box;
    box-shadow: 0 0 20px;
}

.pad{
    position:absolute;
    height:150px;
    width:150px;
    transform:rotate(45deg);
    border:5px outset silver;
    z-index:3;
    box-sizing:border-box;
    box-shadow:0 0 10px;
}

.red{
    background-color:#360E16;
    top:17px;
    left:218px;
}

.red-lit{
    background-color:#F13319;
    top:17px;
    left:218px;
    box-shadow:0 0 10px #F13319;
}

.blue{
    background-color:#100679;
    top:239px;
    left:451px;

}
.blue-lit{
    background-color:#A4EBFF;
    top:239px;
    left:451px;
    box-shadow: 0 0 10px #A4EBFF;

}

.yellow{
    background-color:#936C03;
    top:469px;
    left:218px;
}

.yellow-lit{
    background-color:#FDFC0C;
    top:469px;
    left:218px;
    box-shadow:0 0 10px #FDFC0C;
}

.green{
    background-color:#112212;
    top:239px;
    left:-11px;
}

.green-lit{
    background-color:#35FE36;
    top:239px;
    left:-11px;
    box-shadow:0 0 10px #35FE36;
}

.controls{
   transform:rotate(-45deg);
   top:31px;
   left:36px;
   width:80%;
   position:relative;
}

.controls li{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-align:left;
    margin-bottom:20px;
    
}

.buttons{
    position:relative;
    top:-8px;
    left:11px;
}


.buttons button{
    height:25px;
    width:60px;
    font-size:14px;
    font-weight:bold;
    margin-left:50px;
    margin-bottom:10px;
    border-radius:5px;
}

.radio-btn{
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:black;
    display:inline-block;
    margin-right:10px;
}

.radio-btn-lit{
    background-color:#FDFC0C;
}

#start{
    background-color:green;
    color:white;
}

#reset{
    background-color:orange;
    color:white;
}

